@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');

@import 'tailwindcss';

@theme {
	/* --font-recursive: 'Recursive', 'sans-serif'; */

	--bg-color: rgb(245, 238, 230);
	--bg-pink: rgb(230, 164, 180);
	--bg-dark-pink: #db7a92;
	--pink-text: #b03050;
	--dark-text: #222831;
	--white-text: #f7f3f3;
}
